<nav class="navbar navbar-expand-lg fixed-top transition-all"
    [ngClass]="isScrolled ? 'nav-scrolled shadow-sm' : 'nav-transparent'">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" routerLink="/" (click)="closeMenu()">
            <i class="bi bi-houses-fill text-primary me-2"></i>
            <span class="logo-text">{{appName1}}<span class="text-primary"> {{appName2}}</span></span>
        </a>

        <div class="d-flex align-items-center">
            <div class="d-block d-md-block d-lg-none me-3">
                <app-theme-toggler />
            </div>
            <button class="d-block d-md-block d-lg-none theme-toggle-btn border-0 shadow" type="button" (click)="closeMenu()">

                @if (isMenuOpen) {
                <i class="bi bi-x" style="font-size: 2rem;"></i>
                } @else {
                <i class="bi-grid-fill"></i>
                }
            </button>
        </div>

        <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="mainNav" #navbarCollapse>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-2 mt-3 mt-lg-0">
                @for (item of navLinks; track item.id) {
                <li class="nav-item">
                    <a class="nav-link px-4 px-lg-3 px-xl-4 rounded-pill" routerLink="{{item.path}}" routerLinkActive="active-pill"
                        [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">{{item.name}}</a>
                </li>
                }
            </ul>

            <div class="d-flex align-items-center justify-content-center gap-3 pb-3 pb-lg-0">
                <div class="d-none d-md-none d-lg-block">
                    <app-theme-toggler />
                </div>
                <a routerLink="/list-property" class="btn btn-primary rounded-pill px-4 fw-bold shadow" (click)="closeMenu()">List&nbsp;Property</a>
            </div>
        </div>
    </div>
</nav>